a.home img
	{
		position:absolute;
		top: -0.5%;
		background-color: #2196F3;
		border-radius: 35px 35px 35px 35px;
		z-index:1;
		}
a.home:hover img
	{
		background-color: #CEE3F6;
	}

div.header {
	clear:both;
    color:#0080FF;
	font-size:200%;
	text-align:center;
	border:2px solid #0080FF;
	border-radius: 10px 10px 10px 10px;
	background-color: #F2F2F2;
	padding:10px;
	margin:10px;
}