span.tab{
margin-left:40px;
}

body {
	font-family: Roboto,sans-serif;
}


ul.menu {
	clear:left;
    padding: 0;
	width:15%;
}

ul.menu li {
    display: block;
}

a.home img
	{
		position:absolute;
		left:19.5%; 
		top:4.5%;
		background-color: #2196F3;
		border-radius: 35px 35px 35px 35px;
		z-index:1;
		}
a.home:hover img
	{
		background-color: #CEE3F6;
	}

ul.menu li button{
	float:left;
	color: #0080FF;
	font-size:130%;
	border:3px solid #FFFFFF;
    border-radius: 20px 5px 0 0;
	width : 100%;
	display:block;
	height: 100%;
	padding: 10px 20px;
	left: 0;
	top: 0;
	text-decoration: none;
}

ul.menu li button.normal:hover {
    background-color: #FFFFFF;
}

ul.menu li button.selected:hover {
    background-color: #FFFFFF;
	color: #0080FF;
}

ul.menu li button.normal {
    background-color: #F2F2F2;
	color: #0080FF;
}

ul.menu li button.selected {
    background-color: #0080FF;
	color: #FFFFFF;
}

div.mainBlock{
	position:absolute;
	left:20%;
	top:5%;
	width:60%;
	height:90%;
}

div.nav{
	position:absolute;
    color:#585858;
	border-radius: 10px 10px 10px 10px;
	background-color: #F2F2F2;
	margin:10px;
	left:15%;
	width:85%;
	height:80%;
	max-height:80%;
    overflow-y:auto;
}
div.header {
	clear:both;
    color:#0080FF;
	font-size:200%;
	text-align:center;
	border:2px solid #0080FF;
	border-radius: 10px 10px 10px 10px;
	background-color: #F2F2F2;
	padding:10px;
	margin:10px;
}

div.navHeader1 {
	
	clear:both;
    color:#0080FF;
	font-size:160%;
	margin:30px;
}

div.navHeader2{
	color:#0080FF;
	font-size:140%;
	margin:10px;
}

div.navSection{
	clear:both;
	color:#585858;
	margin:10px;
	padding:10px;
}
div.navInner{
	color:#585858;
	font-size:130%;
	margin-left:20px;
	padding:5px;
	text-align:justify;
}

div.footer {
	clear:both;
    color:#0080FF;
	font-size:160%;
	text-align:center;
	padding:10px;
	margin:10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #F2F2F2;
}

img{
	border:2px solid #FFFFFF;
	padding:4px;
	margin:5px;
	border-radius: 10px 10px 10px 10px;
}


.text-amber{color:#ffc107}.amber{color:#000 !important;background-color:#ffc107 !important}
.text-blue{color:#2196F3}.blue{color:#fff !important;background-color:#2196F3 !important}
.text-light-blue{color:#87CEEB !important}.light-blue{color:#000 !important;background-color:#87CEEB !important}
.text-brown{color:#795548 !important}.brown{color:#fff !important;background-color:#795548 !important}
.text-cyan{color:#00bcd4 !important}.cyan{color:#000 !important;background-color:#00bcd4 !important}
.text-blue-grey{color:#607d8b !important}.blue-grey{color:#fff !important;background-color:#607d8b !important}
.text-green{color:#4CAF50 !important}.green{color:#fff !important;background-color:#4CAF50 !important}
.text-light-green{color:#8bc34a !important}.light-green{color:#000 !important;background-color:#8bc34a !important}
.text-indigo{color:#3f51b5 !important}.indigo{color:#fff !important;background-color:#3f51b5 !important}
.text-khaki{color:#b4aa50 !important}.khaki{color:#000 !important;background-color:#f0e68c !important}
.text-lime{color:#cddc39 !important}.lime{color:#000 !important;background-color:#cddc39 !important}
.text-orange{color:#ff9800 !important}.orange{color:#000 !important;background-color:#ff9800 !important}
.text-deep-orange{color:#ff5722 !important}.deep-orange{color:#fff !important;background-color:#ff5722 !important}
.text-pink{color:#e91e63 !important}.pink{color:#fff !important;background-color:#e91e63 !important}
.text-purple{color:#9c27b0 !important}.purple{color:#fff !important;background-color:#9c27b0 !important}
.text-deep-purple{color:#673ab7 !important}.deep-purple{color:#fff !important;background-color:#673ab7 !important}
.text-red{color:#F44336 !important}.red{color:#fff !important;background-color:#F44336 !important}
.text-teal{color:#009688 !important}.teal{color:#fff !important;background-color:#009688 !important}
.text-yellow{color:#d2be0e !important}.yellow{color:#000 !important;background-color:#ffeb3b !important}
.text-white{color:#fff !important}.white{color:#000 !important;background-color:#fff !important}
.text-black{color:#000 !important}.black{color:#fff !important;background-color:#000 !important}
.text-grey{color:#757575 !important}.grey{color:#000 !important;background-color:#9e9e9e !important}
.text-light-grey{color:#f1f1f1 !important}.light-grey{color:#000;background-color:#f1f1f1 !important}
.text-dark-grey{color:#3a3a3a !important}.dark-grey{color:white;background-color:#616161 !important}